<div ng-controller="ClientesController as vm" class="container" ng-init="vm.iniciar()">
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{ page }}</h2>
    </div>
    <hr>
    <p>
        <a ng-click="vm.go('/clientes/new')" class="btn btn-primary">ADD Cliente</a>
    </p>
    
    <div ng-show="vm.listaClientes.length" class="list-group">
        <table class="table">
            <thead class="table-active">
                <tr>
                    <th scope="col" width="40%">Nome</th>
                    <th scope="col" width="10%">E-mail</th>
                    <th scope="col" width="40%">Endereço</th>
                    <th scope="col" width="25%">CPF</th>
                    <th scope="col" width="25%">Contato</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in vm.listaClientes">
                    <td>
                        <div ng-click="vm.verHistorico(cliente)" style="text-decoration:none"
                            class="list-group-item-action d-flex justify-content-between align-items-center">
                            {{ cliente.nome }} 
                        </div>
                        <small ng-show="cliente.carro" ng-style="{color:'#df691a'}">{{ cliente.carro }}</small>
                    </td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.endereco }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.contato }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="vm.listaClientes.length" class="alert alert-info">
        :( não há clientes em nosso registro, para cadastrar um novo cliente clique em ADD Cliente.
    </div>
</div>